@import url(headerstyle.css);
@import url(footerstyle.css);
@import url(maincomp.css);

/*Start Posts*/
.posts {
  position: relative;
  top: 115px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 62px;
  justify-items: center;
}
.posts .post {
  background-color: var(--main-color);

  padding: 10px 40px;
  border: 2px solid var(--text2-color);
  transition: var(--trans-time);
}
.posts .post .image img {
  width: 350px;
  box-shadow: var(--text2-color) 0 10px 20px -10px;
  border-radius: 14px;
  transition: var(--trans-time);
}
.posts .post .image img:hover {
  box-shadow: var(--text-color) 0 10px 20px -10px;
}
.posts .post:hover {
  border: 2px solid white;
  box-shadow: 10px 5px 5px var(--text-color);
}
.posts .myspan {
  font-weight: 700;
  color: var(--text2-color);
  margin: 2px;
}
.posts h2 {
  font-family: serif;
  font-weight: bold;
  font-size: 30px;
  margin: 3px;
  color: white;
}
.posts .date {
  color: var(--text-color);
  margin: 5px;
  font-size: 12px;
}
.posts p {
  color: white;
}
.posts a {
  text-decoration: underline;
  color: #199bff;
}
/*End Posts*/
/* Responsive Styles */
@media (max-width: 905px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 878px) {
  .menu {
    display: block;
  }

  .menu a {
    color: var(--text-color);
    font-size: 20px;
  }

  .main-nav {
    display: none;
  }

  /* Style for the dropdown menu */
  .menu-nav {
    position: fixed;
    top: 53px;
    right: 0;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-bottom: 1px solid var(--text2-color);
  }

  /* Show menu on hover */
  .menu:hover .menu-nav {
    visibility: visible;
    opacity: 1;
  }

  .menu-nav li {
    margin: 15px 0;
  }

  .menu-nav li a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
  }

  .menu-nav li a:hover {
    color: var(--text2-color);
  }
}
@media (max-width: 460px) {
  .posts .post .image img {
    width: 100%;
  }
}
